services:
  postgres:
    build:
      context: ./docker
      dockerfile: postgres.dockerfile
    container_name: nexusapi_postgres
    environment:
      POSTGRES_USER: nexususer
      POSTGRES_PASSWORD: nexuspass
      POSTGRES_DB: nexusapi
      POSTGRES_PORT: 5432
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nexususer -d nexusapi"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: nexusapi_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
